*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

#main
{
    width: 100%;
}

#main #nav
{
    width: 74vw;
    height: 10vh;
    position: fixed;
    background-color: white;
    top: 25px;
    left: 13vw;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    z-index: 999;
}
#main #nav #navrest
{
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main #nav #lines
{
    display: none;
}
#main #nav #linkdata
{
    display: none;
}

#main #nav #links
{
    display: flex;
    gap: 3vw;
}
#main #nav #links a
{
    text-decoration: none;
    color: gray;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    font-size: 14px;
    font-weight: 500;
}
#main #nav #links a:hover
{
    color: #FF92C0;
}

#main #section1
{
    width: 100%;
    height: 120vh;
    position: relative;
}
#main #section1 #image
{
    width: 100%;
    height: 100vh;
    background-image: url(https://templatemo.com/templates/templatemo_535_softy_pinko/assets/images/banner-bg.png);
    background-size: 100vw 110vh;
    background-position: top;
}
#main #section1 #white
{
    width: 100%;
    height: 20vh;
    background-color: white;
}
#main #section1 #layer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 6vh;
    padding-bottom: 10vh;
}
#main #section1 h1
{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: white;
}
#main #section1 p
{
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: white;
}
#main #section1 button
{
    padding: 1vw 1.5vw;
    border: none;
    border-radius: 50px;
    background-color: #FF589E;
    color: white;
    font-weight: 500;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#main #section1 button:hover
{
    cursor: pointer;
    background-color: #8261EE;
}
#main #section1 #layer #cards
{
    width: 75vw;
    height: 38vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main #section1 #layer #cards .card
{
    height: 100%;
    width: 24vw;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 25px 25px #b8b8b8;
    cursor: pointer;
}
#main #section1 #layer #cards .card #circle
{
    width: 85px;
    height: 85px;
    background-color: #825FED;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#main #section1 #layer #cards .card h2
{
    font-weight: 500;
    font-size: 18px;
}
#main #section1 #layer #cards .card p
{
    color: rgb(119, 119, 119);
    font-weight: 400;
    font-size: 13px;
}
#main #section1 #layer #cards .card:hover #circle
{
    background-color: #FF589E;
}

@media(max-width:1100px)
{
    #main #nav
    {
        width: 80vw;
        height: 10vh;
        position: fixed;
        background-color: white;
        top: 25px;
        left: 10vw;
        border-radius: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2vw;
        z-index: 999;
    }
    #main #nav #links
    {
        gap: 8px;
    }
    #main #nav img
    {
        width: 22%;
    }
    #main #nav #links a
    {
        font-size: 11px;
    }
    #main #section1 #layer #cards
    {
        width: 80vw;
    }
    #main #section1 #layer #cards .card
    {
        width: 26vw;
    }

}